<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="loginForm">

        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input formControlName="username" type="text" [class.invalid]="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-label *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
            <p>Veuillez entrer un username valide</p>
        </ion-label>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-label *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
            <p>Veuillez entrer un mot de passe valide</p>
        </ion-label>

    </form>
    <button ion-button full color="primary" (click)="save()">Se connecter</button>
</ion-content>
